body{
	background-color: #dad8d5;
}
.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	width: clamp(200px, 20.83vw, 300px);
	margin: clamp(33px, 3.47vw, 50px) auto;
	border-radius: 20px;
	align-items: center;
}
.vw{
	background-color: rgb(255, 218, 224);
	box-shadow: 5px 5px 0 rgb(185, 127, 137);
	color: rgb(185, 127, 137);

}
.vw button{
	color: rgb(185, 127, 137);
	box-shadow: 2px 2px 0 rgb(185, 127, 137);
	border: 1px solid rgb(185, 127, 137);
}
.rem{
	background-color: rgb(218, 237, 255);
	box-shadow: 5px 5px 0 ;
	color: rgb(103, 143, 180);

}
.rem button{
	color: rgb(103, 143, 180);
	box-shadow: 2px 2px 0 rgb(103, 143, 180);
	border: 1px solid rgb(103, 143, 180);
}
input {
	color: inherit;
	outline: 0;
	border: none;
	padding: 10px 5px;
	border-radius: 10px;
	width: 90%;
}
.rem input::placeholder {
	color: rgb(158, 177, 195);
}
.vw input::placeholder {
	color: rgb(212, 198, 201);
}
button {
	background-color: transparent;
	width: 100px;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
}
button:hover {
	box-shadow: none;
	transform: translate(2px, 2px);
}
